<a href="https://colab.research.google.com/github/bosdata/roadmap/blob/main/3_2_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Intduction to Tuples
2. Creating tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature
6. Tuple Methods
7. Packing and unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors

# Introduction to Tuples

Explanation:

Tuples are ordered collections of items that are immutable. They are similar to list but their immutability makes them different

In [ ]:
## Creating tuples
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
tupp = tuple()
lsst = list()
print(type(tupp))
print(type(lsst))

<class 'tuple'>
<class 'list'>

In [ ]:
numbers = tuple([1,2,3,4,5,6])
print(numbers)

lst = list((1,2,3,4,5,6))
print(lst)

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]

In [ ]:
del list   # deletes your variable so Python uses the built-in again

In [ ]:
mixed_tuple = (1, "Hello World", 3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [ ]:
## Accessing Tuple Elements
print(numbers)
print (numbers[2])

(1, 2, 3, 4, 5, 6)
3

In [ ]:
# Pic the last element
print(numbers[-1])

6

In [ ]:
## Get the first 4 elements
print(numbers[0:4])

(1, 2, 3, 4)

In [ ]:
print(numbers[::]) ## Returns all the elements
print(numbers[::-1]) # Rearranges the order

(1, 2, 3, 4, 5, 6)
(6, 5, 4, 3, 2, 1)

In [ ]:
## Tuples operation
concantenation_tuple= numbers + mixed_tuple
print(concantenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [ ]:
tuple_3 = mixed_tuple * 3 #Returns everything tripled
print(tuple_3 )

(1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True)

In [ ]:
## Immutable nature of tuples
## Tuples are immutable meaning their elements cannot be changed once assigned
lst = [i for i in range(1,6)]
lst[1]='Bosdata'   ## Implying list are immutable
print(lst)


# numbers[1] = "BOS" Tuple object does not supprt item assignment can not change tuple element

[1, 'Bosdata', 3, 4, 5]

In [ ]:
## Tuple methods count, index
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing and unpacking
packed_tuple =  1, "Hello", 3.14
print(packed_tuple)


## Unpacking a tuple
INT, STR, FLT = packed_tuple
print(INT)
print(STR)
print(FLT)


## Unpacking with *
numbers = 1,2,3,4,5,6
print(numbers)

first,*middle,sec_last, last = numbers
print(first)
print(middle)
print(sec_last)
print(last)

(1, 'Hello', 3.14)
1
Hello
3.14
(1, 2, 3, 4, 5, 6)
1
[2, 3, 4]
5
6

In [ ]:
## Nested loop
# Lit
lst = [[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
print(lst)
print(lst[0][2])
print(lst[0][0:3])
print(type(lst))


# Tuple
nested_loop = ((1,2,3),('a','b','c','d'),(True, False))
print(nested_loop)
print(nested_loop[0])
print(nested_loop[1][2])

[[1, 2, 3, 4], [6, 7, 8, 9], (1, 'Hello', 3.14, 'c')]
3
[1, 2, 3]
<class 'list'>
((1, 2, 3), ('a', 'b', 'c', 'd'), (True, False))
(1, 2, 3)
c

In [ ]:
## Iterating over nested loops
for sub_tuple in nested_loop:
  for item in sub_tuple:
    print(item, end = " ")
  print()

1 2 3
a b c d
True False