<a href="https://colab.research.google.com/github/bosdata/roadmap/blob/main/Copy_of_3_3_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets
Sets are a built in data type in python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests eliminating duplicate entried and performing mathematical set operations like union intersection, difference and symmetric difference.

In [ ]:
## Create a set
my_set = {i for i in range(1,6)}
print(my_set)
print(type(my_set))

## Empty set
empty_set = set()
print(type(empty_set))

list_set = set([1,2,3,4,5])
print(list_set)

tupled_set = set((1,2,3,4,5,6,5,6,2))
print(tupled_set)

{1, 2, 3, 4, 5}
<class 'set'>
<class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [ ]:
## Basics sets operation
## Adding and Removing elements using add

my_set.add(7)
print(my_set)


# Reove the elements fromm the list - using discard
# my_set.remove(3)
my_set.discard(3)
print(my_set)


## Pop method
removed_element = my_set.pop() # Unlike list the pop removes the 1st element
print(removed_element)

print([10,20,30].pop(1))

{5, 7}
{5, 7}
5
20

In [ ]:
## Clear all the element
my_set.clear()
print(my_set)

set()

In [ ]:
## Set membership test
my_set = {1,2,3,4,5}
print(3 in my_set)
print(8 in my_set)

True
False

In [ ]:
## Mathematical operation
set1= {i for i in range(1,7)}
set2 = {j for j in range(4,10)}
print(set1,'\n',set2)


## Union of sets
union_set = set1.union(set2)
print(union_set)


## Intersection of sets
intersection_set = set1.intersection(set2)
print(intersection_set)



set1.intersection_update(set2) ## UPdates the entire variable when we use intersection_update
print(set1)

{1, 2, 3, 4, 5, 6}
 {4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [ ]:
set1= {i for i in range(1,7)}
set2 = {j for j in range(4,10)}
print("Set 1: ", set1)
print("Set 2: ", set2)


## Difference
print(set1.difference(set2))  ## REturns elements not in the intersection that is element in set 1 not in set2
# print(set1.difference_update(set2))

print(set2.difference(set1))

Set 1:  {1, 2, 3, 4, 5, 6}
Set 2:  {4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}

In [ ]:
## Symmetric different
set1.symmetric_difference(set2) ## Combines the unique elements in the sets

{1, 2, 3, 7, 8, 9}

In [ ]:
##### Sets method
### subset methods
### Superset

set1= {i for i in range(1,6)}
set2 = {j for j in range(3,6)}
print("Set 1: ", set1)
print("Set 2: ", set2)

#issubset
print(set1.issuperset(set2))  ## Are elements of set1 contained in set2


# superset
print(set1.issuperset(set2))

Set 1:  {1, 2, 3, 4, 5}
Set 2:  {3}
True
True

In [ ]:
## Counting uniique words in text
text = "In this tutorial we are discussind about sets"
words= text.split()

#### COnvert list of words to the unique words

unique_words=set(words)
print(unique_words)

{'are', 'this', 'sets', 'we', 'tutorial', 'In', 'discussind', 'about'}